<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<!-- Header -->
	<% if (locals.user != null) { %>
		<%- include('./partials/headerLogueado') %><% } else { %>
			<%- include("./partials/header") %>
	<% } %>
<!-- Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= title %></h2> 
			<p class="product-detail-description">
				<% if (locals.user != null) { %>
					<% if (locals.user.id == id_creador) { %>
						<a href="/product/add">Editar</a>
						<form action="/product/delete/<%= id_producto %>" method="POST" class="form">
							<a href="/product/delete"><button class="delete_boton" type="submit">Eliminar</button></a>
						</form>
					<% }
				}%>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<p> <a href="/profile/<%= id_creador %>" class="title-usuario"> Dueño de la publicacion: <%= usuarioAutor %> </a> </p> 
					<img src="/images/products/<%= imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

					<%for (let i = 0; i < comentarios.length; i++) {%>
							<article>
								<img src="/images/users/<%= imagen_usuario[i] %>" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile/<%= id_usuario[i] %>"><%= comments_usuario[i] %>: </a> </strong> 
										<%= comentarios[i] %>
									</p>
								</div>
							</article>
						<% }%>

					</section>
					<% if (locals.user != null) { %>
						<form class="form" action="/product/<%= id %>" method="POST">
							<input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<% } else { %>
							<p class="products-title">Debe estar logueado para comentar</p>
					<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<!-- footer -->
<%- include("./partials/footer") %>
<!-- /footer -->

</body>	
</html>