<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include("./partials/head") %>
<!-- Include Head -->

<!-- Header -->
	<% if (locals.user != null) { %>
		<%- include('./partials/headerLogueado') %><% } else { %>
			<%- include("./partials/header") %>
	<% } %>
<!-- Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= result[0].nombreProducto %></h2> 
			<p class="product-detail-description">
				<% if (locals.user != null) { %>
					<% if (locals.user.id == result[0].Usuario.id) { %>
							<a href="/product/editar/<%= result[0].id %>">Editar</a>

						<form action="/product/delete/<%= result[0].id %>" method="POST" class="form">
							<a href="/product/delete"><button class="delete_boton" type="submit">Eliminar</button></a>
						</form>
					<% }
				}%>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<p> <a href="/profile/<%= result[0].Usuario.id %>" class="title-usuario"> Dueño de la publicacion: <%= result[0].Usuario.usuario %> </a> </p> 
					<img src="/images/products/<%= result[0].imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= result[0].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">

					<%for (let i = 0; i < result[0].comentario.length; i++) {%>
							<article>
								<img src="/images/users/<%= result[0].comentario[i].usuario.fotoPerfil %>" alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile/<%= result[0].comentario[i].usuario.id %>"><%= result[0].comentario[i].usuario.usuario %>: </a> </strong> 
										<%= result[0].comentario[i].comentario %>
									</p>
								</div>
							</article>
						<% }%>

					</section>
					<% if (locals.user != null) { %>
						<form class="form" action="/product/<%= result[0].id %>" method="POST">
							<input class="form-input" name="comentario" type="text" value="" placeholder="Agregar comentario">
							<% if (locals.errors && errors.comentario) { %>
								<p style="color:white"><%= errors.comentario.msg %></p>
							<% } %> 
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<% } else { %>
							<p class="products-title">Debe estar logueado para comentar</p>
					<% } %>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

<!-- footer -->
<%- include("./partials/footer") %>
<!-- /footer -->

</body>	
</html>